@model WorkingWithModels.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BId" class="control-label"></label>
                <input asp-for="BId" class="form-control" />
                <span asp-validation-for="BId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BName" class="control-label"></label>
                <input asp-for="BName" class="form-control" />
                <span asp-validation-for="BName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAuthor" class="control-label"></label>
                <input asp-for="BAuthor" class="form-control" />
                <span asp-validation-for="BAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BDate" class="control-label"></label>
                <input asp-for="BDate" class="form-control" />
                <span asp-validation-for="BDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
